{% extends "index.html" %} 

{% block title %}Weather{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <title>WeatherCheck</title>
  <style>
       p.pdg{
            position: relative;
            left: 100px;
            top: 150px;
       }
  </style>
</head>
<body>
  <div class="container" id="page-container">
    <header class="text-center">
      <h1>WeatherCheck</h1>
    </header>
    <main>
      <div class="row">
        <form class="col-sm-8 offset-sm-2" id="city-form">
          <div class="form-group">
            <label for="city">Enter your city here</label>
            <input type="text" id="city" class="form-control" required>
          </div>
          <button class="btn btn-success" type="submit">Check the weather!</button>
        </form>
      </div>
      <div class="row">
        <p id="weather-report" class="col-sm-8 offset-sm-2 text-center">
        </p>
      </div>
    </main>
  </div>
  <script>
       // Access DOM elements
const reportSection = document.getElementById('weather-report');
const cityForm = document.getElementById('city-form');
const cityInput = document.getElementById('city');

// Prepare openweathermap.org request
let apiRequest = new XMLHttpRequest();
apiRequest.onreadystatechange = () => {
  if(apiRequest.status == 404){
    reportSection.textContent = "City not found!";
  }
    else if (apiRequest.readyState === 4) {
      const response = JSON.parse(apiRequest.response);
      let temp = Math.floor(response.main.temp - 273.15)+' °C.';
      let hum = response.main.humidity+' %.'
      let wind = Math.floor(response.wind.speed*3.6)+"km/h.";
      reportSection.textContent = 'The weather in ' + response.name+' is ' + response.weather[0].main+ '. '+ 'The temperature is: '+temp
      + 'The humidity is: '+hum+' The wind speed is: '+wind;
  }
};
/* 
 * Capture and handle form submit event
 * Prevent default behaviour, prepare and send API request
*/
cityForm.addEventListener('submit', ($event) => {
  $event.preventDefault();
  const chosenCity = cityInput.value;
  apiRequest.open('GET', 'https://api.openweathermap.org/data/2.5/weather?q=' + chosenCity + '&APPID=b34fddd3dae4a2eb0ad363b62f98ba1e');
  apiRequest.send();
});


  </script>
</body>
</html>






  <!--
<div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/time.jpeg" alt="">
                    <div class="intro-text">
                        <h1 class="name"></h1>
                        <hr class="star-light">
                        <span class="skills">Discover the Current Date &Time</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
-->


<!-- Contact Section -->
   <!-- <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">-->
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <!--
                    <form name="sentMessage" id="contactForm" action="/time" method="POST">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="name">What Time is it Now?</label>
                                <input type="text" name="text" class="form-control" placeholder="Ask for the current time & date" name="my-form" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div> 
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-lg-offset-2">
                                <button type="submit" class="btn btn-success btn-lg">Calculate</button>
                            </div>
                        </div>
                        <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{result}}</h2>
                    <hr class="star-primary">
                </div>
                    </form>
        </div>
    </div>
</section>
      -->
      
{% endblock %}

{% block footer%}
{% endblock %}
